<% content_for "head" do %>
  <title>Contact page</title>
  <style>
    body{
    background: red;
    }
  </style>
<% end %>

<div class="content">
  THIS THE CONTENT AREA for contact page
</div>


<% content_for "footer" do %>
  contact page footer
<% end %>
