<% content_for "css" do %>
<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="css/main.css">
<script src="js/vendor/modernizr-2.8.3.min.js"></script>
<% end %>

THIS THE HOME PAGE

<div id="app"></div>

<% content_for "scripts" do %>

<script src="js/components/vendor.js"></script>
  <script src="js/components/firstComp.js"></script>
<% end %>
