<% content_for "head" do %>
  <title>Testing page</title>
  <style>
    body{
    background: blue;
    }
  </style>
<% end %>

<div class="content">
  THIS THE CONTENT AREA for testing page
</div>


<% content_for "footer" do %>
  Testing page footer
<% end %>
