
<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
        <%= yield_content "head" %>
        <!-- Place this tag in your head or just before your close body tag. -->


    </head>
    <body>


      <%= content %>
      <%= yield_content "scripts" %>
        <!-- <%= yield_content "content" %> -->
        <!-- <%= yield_content "scripts" %> -->
    </body>
</html>
